body{
    margin: 0;
    background-color: #212121 ;
}
header{
    height: 100px;
    background-color: #000;
    border-bottom: 2px solid;
    border-color: rgb(139, 15, 15);
    color: white;
    font-size: 60px;
    display: flex;
    align-items: flex-end;
}
header span{
    color: red;
}

.graph{
    background-color: #303030;
    display: inline-block;
    width: 45%;
    height: 250px;
    margin: 10px;
    padding: 10px;
}

.dash{
    margin: auto;
    text-align: center;
}
